body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(../images/friends.png);
    background-size: cover;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: #631515;
    border-radius: 20px;
    padding: 40px 60px;
}

h2 {
    font-size: 3rem;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.reset {
    padding: 15px 20px;
    width: 100%;
    color: #000000;
    background-color: #fff;
    border: none;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
}

.reset:focus {
    color: #ec38bc;
    background-color: #000000;
}

.game {
    border: 1px solid red;
    width: 430px;
    height: 430px;
    flex-wrap: wrap;
    display: flex;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
}

.item {
    display: flex;
    position: relative;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}